{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spam Slayer</title>

  <meta charset="utf-8">
  <meta name="description" content="Spam Slayer Project">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'slayer/main.css' %}">
</head>

<body>
    <div id="page-title" class="container text-center padded">
      <h1>Spam Slayer</h1>
      <p><em>Are you aware that there are tons of fake reviews on the Internet? Spam Slayer helps you filter them all!</em></p>
    </div>

    <div id="url-bar" class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'slayer-home' %}">Amazon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'slayer-yelp' %}">Yelp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">...</a>
        </li>
      </ul>

      <form method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="paste your url" name="url-input">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Go</button>
          </div>
        </div>
      </form>

    </div>

    <main role="main" class="container">
      <div id="product-title" class="container">
        <h2>{{ product }}</h2>
      </div>

      <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#real">Real</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fake">Fake</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#real">Helpful & Real</a>
              </li>
            </ul>

            <article class="media content-section">
                <!-- Tab panes -->
                <div class="media-body tab-content">
                  <div class="tab-pane container active" id="real">
                  {% for review in reviews %}
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ review.author }}</a>
                      <small class="text-muted">{{ review.date_posted }}</small>
                    </div>
                    <h3><a class="article-title" href="#">{{ review.title }}</a></h3>
                    <p class="article-content">{{ review.content }}</p>
                  {% endfor %}
                  </div>

                  <div class="tab-pane container fade" id="fake">
                    {% for review in reviews %}
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ review.author2 }}</a>
                      <small class="text-muted">{{ review.date_posted }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ review.title }}</a></h2>
                    <p class="article-content">{{ review.content }}</p>
                    {% endfor %}
                  </div>
                </div>
            </article>

        </div>

        <div class="col-md-4">
          <div class="content-section">
            <h2 class="heading">Adjusted Rating</h2>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average based on 254 reviews.</p>
            <hr style="border:3px solid #f1f1f1">

            <div class="row">
              <div class="side">
                <div>5 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-5"></div>
                </div>
              </div>
              <div class="side right">
                <div>150</div>
              </div>
              <div class="side">
                <div>4 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-4"></div>
                </div>
              </div>
              <div class="side right">
                <div>63</div>
              </div>
              <div class="side">
                <div>3 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-3"></div>
                </div>
              </div>
              <div class="side right">
                <div>15</div>
              </div>
              <div class="side">
                <div>2 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-2"></div>
                </div>
              </div>
              <div class="side right">
                <div>6</div>
              </div>
              <div class="side">
                <div>1 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-1"></div>
                </div>
              </div>
              <div class="side right">
                <div>20</div>
              </div>
            </div>
          </div>

          <div class="content-section">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="helpfulness" value="">Helpfulness Filter
              </label>
            </div>
            <p>Filter out helpless reviews to only show helpful & real reviews</p>
            <form>
              <label for="customRange">filter degree</label>
              <input type="range" class="custom-range" id="filter-degree">
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>